{% load static %}
<footer class="page-footer">
    <div class="container">
      <div class="row" >
        <div class="col-lg-4 py-3">
          <a href="{% url 'pyngo:index' %}" ><img src="{% static 'assets/img/logo.png' %}" alt="pyngoweb" width="200" height="50"></a>
        </div>
        <div class="col-lg-4 py-3" style='direction:rtl'>
          <p class='h4'>آدرس و ارتباط با پینگو وب</p>
          <p style='text-align:justify'>سنندج - میدان انقلاب - خیابان امام - مجتمع خرمی - طبقه دوم - شرکت فنی و مهندسی پینگو وب </p>
          <p> ایمیل : <a href="gmail:contact@gmail.com" >example@mail.com</a></p>
          <p> تلفن : <a href="tel:08733178466">087-33178466</a></p>
        </div>
        <div class="col-lg-4 py-3" >
          <h5>شرکت فنی و مهندسی</h5>
          <ul class="footer-menu">
            <li><a href="{% url 'pyngo:index' %}">pyngoweb.ir</a></li>
            <li><a >خصوصی</a></li>
            <li><a >حقوقی</a></li>
          </ul>
        </div>
        
      </div>

      <hr>

      <div class="row mt-4">
        <div class="col-md-6">
          <p>طراحی و ساخت از شرکت فنی و مهندسی <a href="{% url 'pyngo:index' %}">پینگو وب</a></p>
        </div>
        <div class="col-md-6 text-right">
          <div class="sosmed-button">
            <a href="#"><span class="mai-logo-instagram"></span></a>
            <a href="#"><span class="mai-logo-twitter"></span></a>
            <a href="#"><span class="mai-logo-youtube"></span></a>
            <a href="#"><span class="mai-logo-linkedin"></span></a>
          </div>
        </div>
      </div>
    </div>
  </footer>