{% load static %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}

{% url 'pyngo:index' as index%}
{% url 'pyngo:services' as services%}
{% url 'pyngo:about_us' as about_us%}
{% url 'pyngo:portfolio' as portfolio%}
{% url 'pyngo:contact' as contact%}

<header>
    <div class="top-bar bg-primary">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="d-inline-block">
              <span class="mai-mail fg-light"></span> <a href="gmail:contact@gmail.com" class="fg-light">contact@mail.com</a>
            </div>
            {% if request.user.is_authenticated and request.user.is_admin %}
            <div class="d-inline-block">
              <a href="{% url 'pyngo:all_notifications' %}" class="fg-light">
                <span class="mai-notifications ml-3 fg-danger"></span> 
                {% if unread_count > 0 %}
                  {{ unread_count }}
                {% else %}
                  0
                {% endif %}
              </a>
            </div>
            {% endif %}
            <div class="d-inline-block ml-2">
            </div>
          </div>
          <div class="col-md-4 text-right d-none d-md-block">
            <div class="social-mini-button">
              <a href="https://api.whatsapp.com/send?phone=989188688569"><span class="mai-logo-whatsapp fg-light"></span></a>
              <a href="#"><span class="mai-logo-telegram fg-light"></span></a>
              <a href="#"><span class="mai-logo-youtube fg-light"></span></a>
              <a href="https://www.instagram.com/pyngoweb/"><span class="mai-logo-instagram fg-light"></span></a>
            </div>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .top-bar -->

    <nav class="navbar navbar-expand-lg navbar-light" style="direction: rtl;" id="navbar_top">
      <div class="container">
        <a href="{{index}}" class="navbar-brand"><img src="{% static 'assets/img/logo.png' %}" alt="pyngoweb" width="150" height="30"></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto pt-3 pt-lg-0">
            <li class="nav-item {% if request.path == index %}active{% endif %}">
              <a href="{{ index }}" class="nav-link">صفحه اصلی</a>
            </li>
            
            <li class="nav-item {% if request.path == services %}active{% endif %}">
              <a href="{{services}}" class="nav-link">خدمات</a>
            </li>
            <li class="nav-item {% if request.path == portfolio %}active{% endif %}">
                <a href="{{portfolio}}" class="nav-link">نمونه کارها</a>
            </li>
            <li class="nav-item {% if request.path == contact %}active{% endif %}">
                <a href="{{contact}}" class="nav-link">تماس با ما</a>
            </li>
            <li class="nav-item {% if request.path == about_us %}active{% endif %}">
                <a href="{{about_us}}" class="nav-link">درباره ما</a>
            </li>
          </ul>
          <ul class="navbar-nav" style="direction: ltr;">
            <span class="mai-call fg-primary"> </span>  <a href="tel:08733178466" class="fg-primary pl-2"> 087-33178466</a>
        </ul>
        </div>
       
      </div> <!-- .container -->
    </nav> <!-- .navbar -->
</header>