{% extends 'base.html' %}
{% load static %}

{% block body %}
  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <header>
    
    

    <div class="page-banner mr-3 ml-3 bg-img bg-img-parallax" style="background-image: url({% static 'assets/img/contact.png' %});height:30%;">
      <div class="row">
        <img src="{% static 'assets/img/main.png' %}" class="col-sm-12 col-lg-6" alt="">
        <div class="col-lg-6 col-sm-12" style="direction:rtl;">
          <h5 class="bg-primary col-6 mt-5 text-right"> ارتباط با پینگو وب</h5>
          <p class="m-3 fg-light  text-justify">گروه طراحی پینگو وب دارای تیم متخصص و حرفه ای با سابقه درخشان در زمینه برنامه نویسی و طراحی گرافیک با ارائه خدمات طراحی سایت و سئو در سطح بالاترین کیفیت و استاندارهای برنامه نویسی مطابق با الگوریتم های گوگل توانسته است با افتخار رضایت تمام مشتریان خود را جلب و جایگاه قابل توجهی در میان شرکت ها و موسسات کسب نماید.
          </p>
        </div>
      </div>
      <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-lg-8", style="direction:rtl">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
                <li class="breadcrumb-item"><a href="{% url 'pyngo:index' %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
              </ol>
            </nav>
            <h1 class="fg-white text-center">ارتباط با طراحی وب سایت پینگو وب</h1>
          </div>
        </div>
      </div>
    </div> <!-- .page-banner -->
  </header>

  <main>
    <div class="page-section">
      <div class="container">
        <div class="text-center" style="direction:rtl">
          <h2 class="title-section mb-3">ارتباط با ما</h2>
          <p>راه ارتباطی با ما فرم زیر را برای ما پر کنید یا یک ایمیل به ما بزنید <a href="gmail:example@mail.com">example@gmail.com</a></p>
          <p> شماره تماس دفتر پینگو وب </p><a href="tel:08733178466" style="direction: ltr;" class="fg-primary"> 087-33178466</a>
        </div>
        <div class="row justify-content-center mt-5" style="direction: rtl;float: right;">
          <div class="col-lg-8">
            <form action="" method='POST' class="form-contact" novalidate>
              {% csrf_token %}
              <div class="row">
                {% for field in form %}
                  <div class="col-sm-6 py-2">
                    <label for="name" class="fg-dark" style="float: right;">{{field.label}}</label>
                    {{field}}
                    <h6 style="color: tomato;direction: rtl;float: right;">{{ field.errors }}</h6>
                  </div>
                {% endfor %}
                <div class="col-12 mt-3">
                  <button type="submit" class="btn btn-primary px-5">ارسال</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="maps-container">
      <div id="google-maps"></div>
    </div>
  </main>

{% endblock %}
{% block javascript %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>
{% endblock %}