{% extends 'base.html' %}
{% load static %}


{% block body %}
  <!-- Back to top button -->
  <div class="back-to-top"></div>

    <div class="page-banner ml-3 mr-3 bg-img bg-img-parallax" style="background-image: url({% static '/assets/img/python3.png' %}); height:40%;">
      <div class="row">
        <img src="{% static 'assets/img/main.png' %}" class="col-sm-12 col-lg-6" alt="">
        <div class="col-lg-6 col-sm-12" style="direction:rtl;">
          <h5 class="bg-primary col-6 mt-5 text-right">  وب سایت پینگو وب</h5>
          <p class="m-3 fg-light  text-justify">گروه طراحی پینگو وب دارای تیم متخصص و حرفه ای با سابقه درخشان در زمینه برنامه نویسی و طراحی گرافیک با ارائه خدمات طراحی سایت و سئو در سطح بالاترین کیفیت و استاندارهای برنامه نویسی مطابق با الگوریتم های گوگل توانسته است با افتخار رضایت تمام مشتریان خود را جلب و جایگاه قابل توجهی در میان شرکت ها و موسسات کسب نماید.
          </p>
        </div>
      </div>
      <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-lg-8" style="direction: rtl;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
                <li class="breadcrumb-item"><a href="{% url 'pyngo:index' %}">صفحه اصلی</a></li>
              </ol>
            </nav>
            <h1 class="fg-white text-center"> طراحی وب سایت پینگو وب</h1>
          </div>
        </div>
      </div>
    </div
  </div> <!-- .page-banner -->

  <main>
    <div style="direction:rtl">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3">

            <div class="about-img">
              <img src="{% static 'assets/img/team.png' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 py-3">
            <div class="subhead" style="position:right;float:right">درباره ما</div> <br>
            <h2 class="title-section">ما <span class="fg-primary">یک تیم جوان</span> برای رشد کسب و کار شما هستیم</h2>

            <p style="text-align:justify;"> با ما درباره کسب و کار خود صحبت کنید تا ما به شما بگوییم چگونه می توانید کسب و کار خود را توسعه و با چالش های آن آشنا گردید ما میتوانیم گزارش کاملی را برای شما و کسب و کارتان تهیه کنیم به شما ایده دهیم یا ایده های شمارو به شیوه بهتری توسعه دهیم</p>

            <a href="{% url 'pyngo:about_us' %}" class="btn btn-primary mt-4">اطلاعات بیشتر</a>
          </div>
        
        </div>
      </div>
    </div> <!-- .page-section -->

    <div class="page-section">
      <div class="container">
        <div class="text-center">
          <div class="subhead">خدمات ما</div>
          <h2 class="title-section">مجموعه خدمات و فعالیت های ما</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/web_development.svg' %}" alt="">
              </div>
              <h5>طراحی سایت</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/graphics_design.svg' %}" alt="">
              </div>
              <h5>طراحی لوگو و آرم</h5>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/seo_and_marketing.svg' %}" alt="">
              </div>
              <h5>سئو و بهینه سازی سایت</h5>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/app_development.svg' %}" alt="">
              </div>
              <h5>طراحی موبایل اپلیکیشن</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/ui_ux_design.svg' %}" alt="">
              </div>
              <h5>UI/UX طراحی</h5>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/product_design.svg' %}" alt="">
              </div>
              <h5>برند سازی</h5>
            </div>
          </div>

        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section">
      <div class="container">
        <div class="text-center">
          <div class="subhead">پلن های طراحی سایت<div>
          <h2 class="title-section">تعرفه های مختلف</h2>
        </div>

        <div class="owl-carousel team-carousel mt-5"> 
          <div class="team-wrap">
            <div class="team-profile">
              <img src="{% static 'assets/img/big.png' %}" alt="">
            </div>
            <div class="team-content">
              <h5>طرح طلایی</h5>

              <div class="social-button">
               <p>1</p>
               <p>2</p>
               <p>3</p>
              </div>
            </div>
          </div>

          <div class="team-wrap">
            <div class="team-profile">
              <img src="{% static 'assets/img/medium.jpg' %}" alt="">
            </div>
            <div class="team-content">
              <h5>طرح نقره ای</h5>

              <div class="social-button">
                <p>1</p>
                <p>2</p>
                <p>3</p>
              </div>
            </div>
          </div>

          <div class="team-wrap">
            <div class="team-profile">
              <img src="{% static 'assets/img/small.webp' %}" alt="">
            </div>
            <div class="team-content">
              <h5>طرح پایه</h5>

              <div class="social-button">
                <p>1</p>
                <p>2</p>
                <p>3</p>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
          
         
    <div class="page-section text-right">
      <div class="container">
        <div class="text-center">
          <h2 class="title-section mb-3">درخواست مشاوره رایگان</h2>
          <p>کافیست شماره خود را ثبت کنید تا  با شما تماس بگیریم </p>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-lg-2 col-sm-12"></div>
          <div class="col-lg-8 col-sm-12 ">
            <form action="{% url 'pyngo:contact' %}" method="POST" class="form-contact" novalidate>
                {% csrf_token %}
                <div class="col-lg-8 col-sm-12 py-2">
                  <label for="name" class="fg-grey">نام و نام خانودگی</label>
                  <input type="text" name="name" class="form-control text-right" id="name" placeholder="...نام">
                </div>
                <div class="col-lg-8 col-sm-12 py-2">
                  <label for="tel" class="fg-grey">شماره تماس</label>
                  <input type="tel" name="phone" class="form-control" id="tel" placeholder="09120000000">
                </div>
                <div class="col-12 mt-3">
                  <button type="submit" style="float:left; direction:ltr; position: left;" class="btn btn-primary px-5">ارسال</button>
                </div>
            </form>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section">
      <div class="container-fluid">
        <div class="row row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
          <div class="py-3 px-5">
            <img src="{% static 'assets/img/clients/airbnb.png' %}" alt="">
          </div>
          <div class="py-3 px-5">
            <img src="{% static 'assets/img/clients/google.png' %}" alt="">
          </div>
          <div class="py-3 px-5">
            <img src="{% static 'assets/img/clients/mailchimp.png' %}" alt="">
          </div>
          <div class="py-3 px-5">
              <img src="{% static 'assets/img/clients/paypal.png' %}" alt="">
          </div>
          <div class="py-3 px-5">
            <img src="{% static 'assets/img/clients/stripe.png' %}" alt="">
          </div>
        </div>
      </div> <!-- .container-fluid -->
    </div> <!-- .page-section -->

  </main>
{% endblock %}