{% extends 'base.html' %}
{% load static %}

{% block body %}
  <!-- Back to top button -->
  <div class="back-to-top"></div>

    <div class="page-banner bg-img m-3 bg-img-parallax" style="background-image: url({% static '/assets/img/services.png' %});">
      <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-lg-8" style="direction: rtl;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0">
                <li class="breadcrumb-item"><a href="{% url 'pyngo:index' %}">صفحه اصلی</a></li>
                <li class="breadcrumb-item active" aria-current="page">خدمات ما</li>
              </ol>
            </nav>
            <h1 class="fg-white text-center">خدمات ما</h1>
          </div>
        </div>
      </div>
    </div> <!-- .page-banner -->
  </header>

  <main>
    <div class="page-section">
      <div class="container">
        <div class="text-center">
          <div class="subhead">خدمات ما</div>
          <h2 class="title-section">مجموعه خدمات و فعالیت های ما</h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/web_development.svg' %}" alt="">
              </div>
              <h5>طراحی سایت</h5>
              <p style="text-align:justify; direction:rtl">طراحی سایت حرفه ای با بالاترین کیفیت و استاندارد برنامه نویسی بدیهی است طراحی، یک بخش کلیدی از ” طراحی سایت ” است. این دقیقا به چه معنی است؟ طراحی شامل هم اصول طراحی، تعادل، کنتراست، تاکید، ریتم و وحدت و هم عناصر طراحی – خطوط، اشکال، بافت، رنگ و جهت است. با قرار دادن این چیزها با یکدیگر، طراح وب سایت، وب سایت ها را ایجاد می کند، اما یک طراح وب خوب، نه تنها اصول طراحی، بلکه محدودیت های وب را نیز درک می کند.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/graphics_design.svg' %}" alt="">
              </div>
              <h5>طراحی لوگو و آرم</h5>
              <p style="text-align:justify; direction:rtl">طراحی لوگو و طراحی آرم شخصی یا شرکتی به صورت تخصصی و حرفه ای طراحی لوگو و طراحی آرم مزیتی است که در زمانی که شما می خواهید کسب و کار خود را ارتقا ببخشید، به کمک شما می آید. و به طراحی سایت شما در زیبا شدن کمک می کند در جهان امروز که شبکه های اجتماعی غوغا می کنند و همچنین در بازاریابی نیز بسیار مهم است، داشتن لوگو سایت و آرم سایت تجاری مناسب بسیار موثر و خوب است. لوگو می تواند ارتباط لازم را میان ذهن مشتری و برند ایجاد کند.</p>
            </div>
          </div>
  
          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/seo_and_marketing.svg' %}" alt="">
              </div>
              <h5>سئو و بهینه سازی سایت</h5>
              <p style="text-align:justify; direction:rtl">سئو و بهینه سازی سایت به صورت حرفه ای و مطابق با الگوریتم های گوگل سئو بهینه سازی موتور جستجو تضمین می کند که وب سایت ها برای گوگل و دیگر موتورهای جستجو جذاب هستند و افرادی که محصولات، خدمات یا ویژگی های اطلاعاتی را در آن سایت جستجو می کنند می توانند آن را پیدا کنند. سئو سایت و طراحی وب سایت را می‌توان مجموعه‌ای از روش‌ها و استاندراد ها برای ارتقا و رشد وب سايت ها در فضای مجازی اينترنت دانست. سئو بزرگترين خدمات برای كسب و كار میباشد.</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/app_development.svg' %}" alt="">
              </div>
              <h5>طراحی موبایل اپلیکیشن</h5>
              <p style="text-align:justify; direction:rtl">طراحی اپلیکیشن موبایل هوشمند به صورت حرفه ای و برنامه نویسی تخصصی اپلیکیشن ‌های موبایل بخش بزرگی از زندگی روزمره‌ی هم مشتریان و هم صاحبان تجارت هستند. تقریبا همه مدت زمانی را در طول روز صرف موبایل خود می‌کنند بسیار خب، برای بعضی از ما این مدت زمان خیلی زیاد است. بیشتر این زمان در اپلیکیشن‌های مختلف گذرانده می‌شود. وقتی‌ که یک کسب و کار قادر است طراحی اپلیکیشن موبایلی پیشنهاد دهد که تمام خدمات قدم جلوتر می‌برد.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/ui_ux_design.svg' %}" alt="">
              </div>
              <h5>UI/UX طراحی</h5>
              <p style="text-align:justify; direction:rtl">هرجایی که محصول و کاربر داشته باشد، حتما با دو مفهوم طراحی تجربه کاربری و طراحی رابط کاربری سر و کار دارد.  طراح "تجربه کاربری" استودیو سعی دارد تجربه کابر از کار کردن با سایت یا خدمات را بهبود دهد و با حدس زدن تمام سناریوهایی که ممکن است به ذهن مخاطب برسد تجربه ایده آل را رقم بزند.طراح رابط کاربری با طراحی بخش هایی از محصول دیجیتال که کاربر آن را می بیند و از آن استفاده می کند، با کمک هنر گرافیک ایده آل طرح نهایی سایت و اپلیکیشن را پیاده سازی می کند.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 col-xl-4 py-3 mb-3">
            <div class="text-center">
              <div class="img-fluid mb-4">
                <img src="{% static 'assets/img/icons/product_design.svg' %}" alt="">
              </div>
              <h5>برند سازی</h5>
              <p style="text-align:justify; direction:rtl"> برند سازی کسب کار شما به صورت کاملا هدفمند و برنامه ریزی شده برندسازی فراتر از تنها یک لوگو یا عنصر گرافیکیست. زمانیکه درباره ی برندتان فکر می کنید، در واقع می خواهید درباره ی تمام تجربه ی مشتریانتان بیندیشید همه چیز گرفته از لوگو ، طراحی سایت ، تجارب رسانه های اجتماعی شما، نحوه ای که تلفن را پاسخ می دهید تا نحوه ای که مشتریانتان کارکنان شما را تجربه می کنند. برند شما نحوه ایست که مشتریانتان و طرفدارانتان در سراسر جهان شما را میبیند.</p>
            </div>
          </div>

        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->


    <!-- Testimonials -->
    <div class="page-section">
      <div class="container">
        <div class="owl-carousel testimonial-carousel">
          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              پایتون یکی از زبان‌های چندمنظوره شی گراست. یکی از مهم‌ترین دلایل ایجاد زبان برنامه‌نویسی پایتون خوانایی بالای کدها است. پایتون به صورتی طراحی شده است که برنامه نویس می‌تواند به صورت کاملا واضح و بدون ابهام پروژه‌های برنامه‌نویسی بزرگ و کوچک ایجاد کند.
            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/minipy.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">Python</div>
                <div class="author-info">زبان برنامه نویسی</div>
              </div>
            </div>
          </div>

          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              Django یک فریمورک MTV برای ساخت اپلیکیشن‌های وب است. جنگو به برنامه‌نویسان وب کمک میکند تا کدهای تمیز، کارآمد و قدرتمند بنویسند. علاوه بر اینکه در لیست محبوب‌ترین فریمورک‌های وب جهان حضور دارد، جنگو یکی از پر استفاده‌ترین تکنولوژیها برای توسعه وب میباشد.            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/minidj.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">Django</div>
                <div class="author-info">فریمورک مبتنی بر پایتون</div>
              </div>
            </div>
          </div>

          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              Postgres یک پایگاه داده قدرتمند متن باز با سیستم object-relational است که زبان SQL را گسترش داده و آن را با تعداد زیادی ویژگی مختلف جدید ترکیب می کند که می توانند در ذخیره مطمئن و دسته بندی پیچیده ترین فعالیت های داده ای به شما کمک کنند.            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/minipo.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">Postgresql</div>
                <div class="author-info">دیتابیس رابطه ای قدرتمند</div>
              </div>
            </div>
          </div>

          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              Docker به توسعه‌دهندگان کمک می‌کند تا ظروف نرم‌افزاری سبک و قابل حمل را بسازند که کار توسعه، آزمایش و استقرار برنامه‌ها را ساده می‌کند. داکر از محیط های کوچک و بزرگ اجزای سیستم عامل به صورت مشترک استفاده می‌کند که کاربران بتوانند به راحتی یک اپلیکیشن را توسعه دهند            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/minido.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">Docker</div>
                <div class="author-info">پلتفرم مبتنی بر لینوکس</div>
              </div>
            </div>
          </div>

          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              Nginx به عنوان یکی از محبوب‌ترین و بهترین وب سرورها معرفی می شود که بصورت open source برای پروتکل های POP3، SMTP، HTTPS، HTTP و IMAP استفاده می شود. انجین‌اکس بر روی سیستم عامل های مختلف مانند و لینوکس و ویندوز همچنین انواع BSD ها قابل اجراست.            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/mining.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">ٔNginx</div>
                <div class="author-info">وب سرور منبع باز</div>
              </div>
            </div>
          </div>

          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              در واقع ردیس یک نوع ساختمانِ داده است که در RAM قرار می‌گیرد و اطلاعات به صورت موقتی در آن ذخیره می‌شوند. ردیس داده‌ها را با سیستم Key-value نگهداری می‌کند و به لطف این ویژگی دسترسی و بازیابی این اطلاعات بسیار ساده‌تر خواهد شد   
            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/minire.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">ًRedis</div>
                <div class="author-info">بانک اطلاعاتی غیر رابطه ای کلید/مقدار</div>
              </div>
            </div>
          </div>

          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              Celery یک صف وظیفه ناهمگام است که بر اساس بهترین تجربیات و راه حل های مسائل سازمان ها ایجاد شده است. سلری با زبان python و بصورت open source نوشته شده و اغلب زبان های برنامه نویسی مانند php، Ruby، java و ... میتوانند با آن کار کنند.
            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/minice.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">Celery</div>
                <div class="author-info">صف وظیفه ناهمگام</div>
              </div>
            </div>
          </div>

          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              uWSGI یک نرم‌افزار کاربردی پر سرعت کد نویسی شده با زبان سی(C)، با هدف توسعه full stack برای ساختمان خدمات میزبانی می باشد، که پس از وب سرور رابط دروازه(WSGI) که اولین افزونه‌های پشتیبانی شده توسط این پروژه است.            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/miniuw.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">ٌَUwsgi</div>
                <div class="author-info">رابط دروازه پرقدرت</div>
              </div>
            </div>
          </div>

          <div class="card-testimonial">
            <div style="direction: rtl;" class="content text-justify">
              پایگاه دادهMongoDB یک برنامه پایگاه داده متمرکز متقابل پلت فرم رایگان و متن باز است که در دسته پایگاه داده های NoSQL قرار دارد و از اسناد JSONمانند schemata استفاده می کند. 
              این پایگاه داده در زبان های ++C و C و JavaScript نوشته شده است.
            </div>
            <div class="author">
              <div class="avatar">
                <img src="{% static 'assets/img/mini/minimo.png' %}" alt="">
              </div>
              <div class="d-inline-block ml-2">
                <div class="author-name">Mongodb</div>
                <div class="author-info"> دیتابیس غیر رابطه ای متن باز </div>
              </div>
            </div>
          </div>

        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section">
      <div class="container-fluid">
        <div class="row row-cols-md-3 row-cols-lg-5 justify-content-center text-center">
          <div class="py-3 px-5">
            <img src="../assets/img/clients/airbnb.png" alt="">
          </div>
          <div class="py-3 px-5">
            <img src="../assets/img/clients/google.png" alt="">
          </div>
          <div class="py-3 px-5">
            <img src="../assets/img/clients/mailchimp.png" alt="">
          </div>
          <div class="py-3 px-5">
            <img src="../assets/img/clients/paypal.png" alt="">
          </div>
          <div class="py-3 px-5">
            <img src="../assets/img/clients/stripe.png" alt="">
          </div>
        </div>
      </div> <!-- .container-fluid -->
    </div> <!-- .page-section -->
  </main>
{% endblock %}
